<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>mittwoch beer</title>

    <link rel="stylesheet" href="/stylesheets/mittwoch.beer.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/sober.css" type="text/css">
  </head>
  <body>
    <header>
      <h1>mittwoch beer</h1>
    </header>

    <% if mittwochs.today.any? %>
      <h3 class="mittwochs-status mittwochs-status-today">Today</h3>
      <div class="mittwochs">
        <% mittwochs.today.each do |mittwoch| %>
          <div class="mittwoch">
            <h4>
              <%= mittwoch.date.strftime("%B %e, %Y") %>
              <small>@ <%= mittwoch.time %></small>
            </h4>
            <% mittwoch.venues.each do |venue| %>
              <a href="<%= venue.url %>"><%= venue.name %></a><br />
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if mittwochs.upcoming.any? %>
      <h3 class="mittwochs-status mittwochs-status-upcoming">Upcoming</h3>
      <div class="mittwochs">
        <% mittwochs.upcoming.each do |mittwoch| %>
          <div class="mittwoch">
            <h4>
              <%= mittwoch.date.strftime("%B %e, %Y") %>
              <small>@ <%= mittwoch.time %></small>
            </h4>
            <% mittwoch.venues.each do |venue| %>
              <a href="<%= venue.url %>"><%= venue.name %></a><br />
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if mittwochs.previously.any? %>
      <h3 class="mittwochs-status mittwochs-status-previously">Previously</h3>
      <div class="mittwochs">
        <% mittwochs.previously.each do |mittwoch| %>
          <div class="mittwoch">
            <h4>
              <%= mittwoch.date.strftime("%B %e, %Y") %>
              <small>@ <%= mittwoch.time %></small>
            </h4>
            <% mittwoch.venues.each do |venue| %>
              <a href="<%= venue.url %>"><%= venue.name %></a><br />
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

    <footer class="mittwoch-beer-footer">
      <div class="social">
        <a href="https://twitter.com/mittwochbeer"><img class="twitter" src="/images/twitter.png"></a>
        <a href="https://facebook.com/mittwochbeer"><img class="facebook" src="/images/facebook.png"></a>
      </div>
      <div class="logo">
        <img src="/images/footer-logo.png">
      </div>
    </footer>
  </body>
</html>
