<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>mittwoch beer</title>

    <link rel="stylesheet" href="/stylesheets/mittwoch.beer.css" type="text/css">
  </head>
  <body>
    <header>
      <a href="/"><h1>mittwoch beer</h1></a>
    </header>

    <% if mittwochs.today.any? %>
      <h3 class="mittwochs-status mittwochs-status-today">Today</h3>
      <div class="mittwochs">
        <% mittwochs.today.each do |mittwoch| %>
          <div class="mittwoch">
            <h4><%= mittwoch.date.strftime("%B %e, %Y") %></h4>
            <% mittwoch.venues.each do |venue| %>
              <%= venue.name %><br />
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if mittwochs.upcoming.any? %>
      <h3 class="mittwochs-status mittwochs-status-upcoming">Upcoming</h3>
      <div class="mittwochs">
        <% mittwochs.upcoming.each do |mittwoch| %>
          <div class="mittwoch">
            <h4><%= mittwoch.date.strftime("%B %e, %Y") %></h4>
            <% mittwoch.venues.each do |venue| %>
              <%= venue.name %><br />
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if mittwochs.previous.any? %>
      <h3 class="mittwochs-status mittwochs-status-previous">Previous</h3>
      <div class="mittwochs">
        <% mittwochs.previous.each do |mittwoch| %>
          <div class="mittwoch">
            <h4><%= mittwoch.date.strftime("%B %e, %Y") %></h4>
            <% mittwoch.venues.each do |venue| %>
              <%= venue.name %><br />
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </body>
</html>
